.header {
    position: absolute;
    width: 100%;
}

.header-list {
    width: 388px;
    display: flex;
    justify-content: space-between;
}
.header-list__item {
    display: flex;
    justify-content: space-between;
}
.header-list__item:not(:last-child) {
    margin-right: 40px;
  }

.header-list__link {
    display: block;
    padding-top: 48px;
    padding-bottom: 48px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    transition: color 500ms linear;
    &:hover{
        color: $accent-color;
    }
    &:focus{
        color: $accent-color;
    }
}

.header-navigation{
    display: flex;
    align-items: center;
}
.header .container {
    display: flex;
    align-items: center;
}   
.logo-item{
    fill: #303030;
}
.header__logo{
    margin-right: 70px;
    animation: rotate 20000ms linear infinite forwards;
}
.header-right{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-right__tel {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-right: 40px;
}
.btn {
    width: 160px;
    height: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #303030;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    background-color: transparent;
    transition: background-color 500ms linear;
    &:hover{
        background-color: $accent-color;
        color:#FFFFFF;
    }
    &:focus{
        background-color: $accent-color;
        color:#FFFFFF;
    }
    
}
.header-right__button{
    color: #FFFFFF;
}
.hero-container {
    display: flex;
}
.hero-main {
    background-color: grey;
    flex-grow: 1;
    padding: 272px 0 206px 91px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2),rgba(25, 28, 38, 0.2)), url(../images/desktop/hero-1x.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-left {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
    padding-left: 30px;
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.hero-list{
    // width: 100px;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
}
.hero-list::before{
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: #303030;
    flex-shrink: 0;
}
.hero-list__item {
    margin-left: 40px;
}
.hero-list__link{
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: $third-text-color;
    transition: color 500ms linear;
    &:hover {
        color: $accent-color;
    }
    &:focus {
        color: $accent-color;
    }
}
.pre-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.pre-text::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    margin-right: 21px;

}
.after-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}
.hero-main__pre-text {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
    &::before {
    background-color: rgba(157, 164, 189, 0.6);
    }
}
.hero-main__title {
    font-family: 'Raleway', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: $main-title-color;
    margin-bottom: 20px;
}
.hero-main__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
}
